h1{
  color: #222222
}

#map {
    height: 100vh;
}

html, body {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#searchBar {
    background-color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin: 5px 10px 5px 0;
    padding: 10px;
    width: 33%;
    position: fixed;
    top: 5%;
    left: 33%;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1;
}

#searchBar:focus {
  background-color: #eee
}

#addButton {
    padding: 12px 20px;
    background-color: dodgerblue;
    border: 0px solid #ddd;
    border-radius: 5px;
    color: white;
    z-index: 1;
    position: fixed;
    top: 5.8%;
    left: 67%;
}

#addButton:hover {
  background-color: #0466c8;
}

#addButton:active {
  transform: translateY(2px);
}


.places {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: fixed;
    background-color: white;
    max-height: 50%;
    top: 25%;
    left: 3%;
    width: 20%;
    z-index: 1;
    margin: auto;
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 20px 30px 30px 30px;
    overflow-y: scroll;
}

.place {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    padding: 10px 10px 5px;
    width: 95%;
    border-bottom: 1px solid #cecece;
    font-weight: 100;
    font-size: 16px;
    color: #333333;
}

.xButton {
    position: 'absolute';
    right: 2%;
    top: 3%;
    border: 0px;
    background: none;
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 1.1em;
}

.xButton:hover{
    cursor: pointer;    
}

#welcome {
    display: flex;
    background-color: white;
    position: fixed;
    font-family: 'Quicksand', sans-serif;
    top: 20%; bottom: 20%;  left: 30%; right: 30%;
    width: 30%;
    z-index: 2;
    margin: auto;
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 20px 30px 30px 30px;
    overflow-y: scroll;
}

canvas.highlight {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  opacity: 0.5;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  -webkit-animation: canvasFade 250ms ease;
  animation: canvasFade 250ms ease;
}
@-webkit-keyframes canvasFade {
  from { opacity: 0; }
  to { opacity: 0.5; }
}
@keyframes canvasFade {
  from { opacity: 0; }
  to { opacity: 0.5; }
}